<div class="container">
  <div id="payment-prompt" class="modal vertical-navbar-hidden">
    <div class="modal-background"></div>
    <div class="modal-content" style="overflow-x: hidden;">
     <div class="modal-card m-0">
    <header class="modal-card-head">
      <p class="modal-card-title">Attention</p>
    </header>
    <section class="modal-card-body">
      <div class="modal-container">
        <p>
          Applying for ERA accreditation requires a one-time nonrefundable fee of <strong>$75</strong>.
        </p>
        <p>
          After processing your payment, you may click "Continue" below to proceed
          to the application.  You will need to provide a screenshot of your payment
          confirmation as proof of the transaction.
        </p>
        <p>
          Payment can be made through any one of the following applications:
          <ul class="pl-4 py-2">
            <li>
              <i class="fa-solid fa-paw"></i>
              <%= link_to 'Venmo', @venmo_url, target: '_blank' %>
            </li>
            <li>
              <i class="fa-solid fa-paw"></i>
              <%= link_to 'CashApp', @cashapp_url, target: '_blank' %>
            </li>
            <li>
              <i class="fa-solid fa-paw"></i>
              <%= link_to 'PayPal', @paypal_url, target: '_blank' %>
            </li>
          </ul>
        </p>
        <div>
          Thank you for being part of the next ERA of animal rescue.
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <%= link_to 'Continue', 'https://forms.gle/MeuWpkQyCRj2ky63A', class: 'button is-success', target: '_blank' %>
      <button class="button">Cancel</button>
    </footer>
  </div>
    </div>
    <button id="image-modal-close" class="modal-close"></button>
  </div>
  <br>
</div>

<%= javascript_include_tag "modals/modal_prompt.js" %>