<div class="main-container">
  <section class="hero is-large header-image">
    <div class="hero-body">
      <h5 class="subtitle has-text-white">
        CHANGE IS COMING
      </h5>
      <h1 class="title has-text-white">
        Be part of a new ERA of animal rescue
      </h1>
      <%= button_to "Learn More", what_is_era_path, method: :get, class: "button is-info is-large call-to-action" %>
    </div>
  </section>

  <div class="box cta">
    <p class="has-text-centered">
      <span class="tag is-primary mr-2">UPDATE: 09/01/23</span> ERA is LIVE! We will be open for applications soon.
    </p>
  </div>

  <section class="section about">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-4-widescreen is-6-tablet">
          <div class="about-item">
            <div class="icon">
              <i class="fa-solid fa-scale-balanced"></i>
            </div>

            <div class="content">
              <h4 class="mt-3 mb-3">Setting ethical standards</h4>
              <p class="mb-5">
                Rescues that demonstrate unwavering dedication to ethical practices, responsible
                governance, and animal welfare are recognized and celebrated through ERA accreditation.
              </p>
              <%= link_to "Read More", code_of_ethics_path %>
            </div>
          </div>
        </div>

        <div class="column is-4-widescreen is-6-tablet">
          <div class="about-item">
            <div class="icon">
              <i class="fa-solid fa-paw"></i>
            </div>
            <div class="content">
              <h4 class="mt-3 mb-3">Revolutionizing animal rescue</h4>
              <p class="mb-5">
                Our rescue partners are devoted to furthering grassroots reform and promoting
                a compassionate, transparent, and ethical atmosphere within the rescue community.
              </p>
              <%= link_to "Read More", what_is_era_path %>
            </div>
          </div>
        </div>

        <div class="column is-4-widescreen is-6-tablet">
          <div class="about-item">
            <div class="icon">
              <i class="fa-solid fa-heart"></i>
            </div>
            <div class="content">
              <h4 class="mt-3 mb-3">Promoting community outreach</h4>
              <p class="mb-5">
                We actively strive to enlighten the public about ethical rescue principles and empower individuals to make informed
                decisions in supporting reputable organizations.
              </p>
              <%= link_to "Read More", faq_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-5">
    <div class="section is-relative steps-banner">
      <div class="has-text-centered steps-banner-content">
        <h1 class="is-spaced steps-banner-title">
          Join ERA and help reform the world of animal rescue
        </h1>
        <p class="steps-banner-subtitle">
          Showcase your rescue's dedication to ethical practices and animal welfare by getting accredited with the Ethical Rescue Association.
        </p>
      </div>
    </div>
    <div class="pt-16 pb-24 has-background-white">
      <div class="container">
        <div class="columns is-multiline is-relative">
          <div class="column is-3-widescreen is-6-tablet mb-14 mb-0-widescreen">
            <div class="has-mw-sm has-mw-xs-widescreen mx-auto px-8-widescreen has-text-centered is-relative">
              <div class="mb-4 is-inline-flex is-align-items-center is-justify-content-center is-relative">
                <div class="number-circle-container">
                  <div class="is-absolute is-top-0 is-left-0 number-circle step-1">
                    <h2 class="has-text-weight-bold number-step m-auto">1</h2>
                  </div>
                </div>
                <%= image_tag "main/step-1" %>
              </div>
              <h2 class="title is-size-3 is-spaced step-title">Submit your application</h2>
              <p class="subtitle has-text-grey-light step-subtitle">
                This allows us to get an accurate feel for your organization and the ethics
                and values that it operates on. The in-depth questionnaire helps us get to know you.
              </p>
              <img class="is-absolute is-hidden-mobile is-top-0 is-right-0 mt-8 image">
            </div>
          </div>
          <div class="column is-3-widescreen is-6-tablet mb-14 mb-0-widescreen">
            <div class="has-mw-sm has-mw-xs-widescreen mx-auto px-8-widescreen has-text-centered is-relative">
              <div class="mb-4 is-inline-flex is-align-items-center is-justify-content-center is-relative">
                <div class="number-circle-container">
                  <div class="is-absolute is-top-0 is-left-0 number-circle step-2">
                    <h2 class="has-text-weight-bold number-step m-auto">2</h2>
                  </div>
                </div>
                <%= image_tag "main/step-2" %>
              </div>
              <h2 class="title is-size-3 is-spaced step-title step-title">We review your application</h2>
              <p class="subtitle has-text-grey-light step-subtitle">
                Your application will be evaluated by several of our board members for a multi-perspective score.
                If approved, your rescue will become an accredited partner of ERA.
              </p>
              <img class="is-absolute is-hidden-touch is-hidden-desktop-only is-top-0 is-right-0 mt-8 image">
            </div>
          </div>
          <div class="column is-3-widescreen is-6-tablet mb-14 mb-0-tablet">
            <div class="has-mw-sm has-mw-xs-widescreen mx-auto px-8-widescreen has-text-centered is-relative">
              <div class="mb-4 is-inline-flex is-align-items-center is-justify-content-center is-relative">
                <div class="number-circle-container">
                  <div class="is-absolute is-top-0 is-left-0 number-circle step-3">
                    <h2 class="has-text-weight-bold number-step m-auto">3</h2>
                  </div>
                </div>
                <%= image_tag "main/step-3" %>
              </div>
              <h2 class="title is-size-3 is-spaced step-title">Experience immediate benefits</h2>
              <p class="subtitle has-text-grey-light step-subtitle">
                After approval, ERA will provide areas of support, such as product resources,
                access to donation programs, and the ability to connect with other ERA-accredited rescues.
              </p>
              <img class="is-absolute is-hidden-mobile is-top-0 is-right-0 mt-8 image">
            </div>
          </div>
          <div class="column is-3-widescreen is-6-tablet">
            <div class="has-mw-sm has-mw-xs-widescreen mx-auto px-8-widescreen has-text-centered">
              <div class="mb-4 is-inline-flex is-align-items-center is-justify-content-center is-relative">
                <div class="number-circle-container">
                  <div class="is-absolute is-top-0 is-left-0 number-circle step-4">
                    <h2 class="has-text-weight-bold number-step m-auto">4</h2>
                  </div>
                </div>
                <%= image_tag "main/step-4" %>
              </div>
              <h2 class="title is-size-3 is-spaced step-title">Maintain your accreditation</h2>
              <p class="subtitle has-text-grey-light step-subtitle">
                By upholding the ERA Code of Ethics, your rescue will continue to be
                recognized as an accredited partner of ERA. We will continue to support you along the way.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section has-background-light">
    <div class="container">
      <h1 class="title is-2 has-text-centered mb-0">
        Accreditation Tiers and Benefits
      </h1>
      <p class="tier-subtitle">
        ERA offers three accreditation tiers, each with their own unique benefits.
        The higher the tier, the more benefits you receive.  Rescues can re-apply for
        accreditation every 12 months to move up to the next tier.
      </p>
      <div class="columns">
        <div class="column is-multiline has-background-light is-one-third has-text-centered">
          <div class="card p-5">
            <%= image_tag "main/bronze-star", class: "accreditation-star" %>
            <h2 class="title is-3 accreditation-plan-title has-text-weight-bold my-2">Bronze</h2>
            <p class="accreditation-subtitle">
              Growth benefits package
            </p>
            <div class="features">
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Partner portal access</span>
              </div>
              <div class="features-separator"></div>
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Connect with other rescues</span>
              </div>
              <div class="features-separator"></div>
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Mentorship opportunities</span>
              </div>
              <div class="features-separator"></div>
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Product and resource list</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-multiline has-background-light is-one-third has-text-centered">
          <div class="card p-5">
            <%= image_tag "main/silver-star", class: "accreditation-star" %>
            <h2 class="title is-3 accreditation-plan-title has-text-weight-bold my-2">Silver</h2>
            <p class="accreditation-subtitle">Standard benefits package</p>
            <div class="features">
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Partner portal access</span>
              </div>
              <div class="features-separator"></div>
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Connect with other rescues</span>
              </div>
              <div class="features-separator"></div>
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Mentorship opportunities</span>
              </div>
              <div class="features-separator"></div>
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Product and resource list</span>
              </div>
              <div class="features-separator"></div>
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Supplier discount codes</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-multiline has-background-light is-one-third has-text-centered">
          <div class="card p-5">
            <%= image_tag "main/gold-star", class: "accreditation-star" %>
            <h2 class="title is-3 accreditation-plan-title has-text-weight-bold my-2">Gold</h2>
            <p class="accreditation-subtitle">Exclusive benefits package</p>
            <div class="features">
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Partner portal access</span>
              </div>
              <div class="features-separator"></div>
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Connect with other rescues</span>
              </div>
              <div class="features-separator"></div>
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Product and resource list</span>
              </div>
              <div class="features-separator"></div>
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Supplier discount codes</span>
              </div>
              <div class="features-separator"></div>
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Escalated support requests</span>
              </div>
              <div class="features-separator"></div>
              <div class="features-item">
                <%= image_tag "main/checkmark", class: "checkmark" %>
                <span>Funding and grant programs</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<%= render 'payment_prompt' %>
