<% env = ENV('PAYPAL_CLIENT_ID') || "" %>

<section class="section is-hidden" id="funnel-step-three">
  <div class="container mt-5 funnel-step__container">
    <div class="is-vcentered columns is-multiline">
      <div class="column is-12 is-5-desktop mr-auto pt-0">
        <h2 class="is-size-3-mobile is-size-3-tablet is-size-2 application-funnel__title">
          Support the cause
        </h2>
        <p class="subtitle has-text-grey funnel-step__subtitle">
          Your donation will help to bring meaningful reform to the animal welfare
          industry by supporting rescues and shelters that uphold ethical values.
        </p>
        <p class="subtitle has-text-grey funnel-step__subtitle">
          <%= link_to "Learn more", donate_path, target: "_blank" %> about how your contribution will make a difference.
        </p>
        <div id="donate-button-container">
          <div id="donate-button" class="application-funnel__donate-btn", onclick="setSelectionData(selectionData)"></div>
        </div>
      </div>
      <div class="column is-12 is-6-desktop">
        <%= image_tag "application_funnel/man-playing-with-dog.jpg", class: "image is-fullwidth funnel-step__funnel-image" %>
      </div>
    </div>
  </div>
  <div class="application-funnel__buttons-container">
    <%= button_tag "Back", type: "button", class: "button is-secondary is-medium funnel-step__button mr-4", id: "back-btn", onclick: "goBackFromStepThree(getOrgType())" %>
    <%= button_tag "Next", type: "button", class: "button is-light is-medium funnel-step__button", id: "next-btn", disabled: true %>
  </div>
</section>

<script src="https://www.paypal.com/sdk/js?client-id=<%= env %>"></script>
<script type="text/javascript">
  const selectionData = {};

  const getOrgType = () => {
    return document.querySelector('input[name="org[options]"]:checked').value;
  }

  const getSpecType = () => {
    return document.querySelector('input[name="spec[options]"]:checked').value;
  }

  const setSelectionData = (selectionData) => {
    selectionData.org = getOrgType();
    selectionData.spec = getSpecType();
  }

  PayPal.Donation.Button({
    env: 'sandbox',
    hosted_button_id:'YTVLSWVUB6CBC',
      image: {
      src: 'https://pics-v2.sandbox.paypal.com/00/s/ZGM2ZjE1YTItNTQxZi00ODM1LTg3NTMtYzU5MDBhNGVkMzgw/file.PNG',
      alt: 'Donate with PayPal button',
      title: 'Donate with PayPal',
    },
    onComplete: async (data) => {
      const response = await fetch('/create_new_application', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
        },
        body: JSON.stringify({ data: { ...data, ...selectionData } })
      });
      // when request to application_submission is completed, redirect to /application_submitted
      window.location.replace('/application_submitted');
    }
  }).render('#donate-button');
</script>