<% tab = '&nbsp &nbsp &nbsp'.html_safe %>

<div class="what-is-era-container mb-4">
  <div class="banner-container">
    <div class="banner-img">
      <div class="hero-body hero-content">
        <div class="banner-content">
          <h3 class="tagline-primary font-gotham-bold">
            What is ERA?
          </h3>
          <h3 class="tagline-secondary font-gotham-regular">
            The mission, principles, and humans who power the movement
          </h3>
        </div>
      </div>
    </div>
  </div>

  <section class="section container standard-padding mt-4">
    <div class="sandbox">
      <div class="tile is-ancestor">
        <div class="tile is-parent is-shady">
          <article class="tile is-child notification is-white py-0 blue-vertical-divider">
            <div class="content is-flex">
              <div class="mx-0 era-logo-container">
                <%= image_tag "logos/era-logo-colored.png", class: "era-logo" %>
              </div>
            </div>
          </article>
        </div>
        <article class="tile is-9 is-shady notification is-white mission-statement has-text-left p-0">
          <div class="content mission-statement-content">
            <p>
              <%= tab %><span class="font-size-22">The Ethical Rescue Association</span> (ERA) is an
              accrediting body that seeks to bring about much-needed grassroots reform in the world
              of animal rescue. With a team of dedicated volunteers, ERA strives to foster
              a compassionate and transparent environment within the rescue community.
              Through our rigorous accreditation process, we assess and recognize rescues and
              shelters that demonstrate a commitment to ethical practices, responsible governance,
              and animal welfare. Moreover, ERA takes on the vital
              responsibility of educating the public on ethical rescue principles, empowering
              individuals to make informed decisions and support reputable organizations that
              align with these values.
            </p>
            <p>
              <%= tab %><span class="font-size-22">Our Mission</span> is to provide ethical guidelines
              for animal welfare organizations to promote humane and ethical treatment of the animals
              in their care, as well as putting public health and safety back at the forefront.
              By distancing from animal rights activism, the Ethical Rescue Association will promote
              true progress in the battle against the animal welfare crisis that is spreading
              across the United States.
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section class="section container py-0">
    <hr class="m-0"/>
  </section>

  <section class="section container standard-padding">
    <div class="sandbox">
      <div class="has-text-centered mb-4">
        <h2 class="title font-gotham">Our Values</h2>
        <p class="has-text-left core-values-statement">
          <%= tab %>ERA's foundational principles are the bedrock on which it stands, shaping its mission
          and driving its actions. These values serve as the compass that directs every aspect of
          the organization's work. An unwavering commitment to upholding these principles establishes a
          framework for meaningful reform and paves the way for a more ethical future in animal rescue.
          By upholding these values and recognizing the interconnectedness of animal welfare and human
          society, we can prioritize the well-being of both animals and the communities that they impact.
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column core-value-banners-container">
          <div id="partnership" class="mb-3 core-value-banner  partnership">
            <div id="partnership-first" class="first-frame">PARTNERSHIP</div>
          </div>
          <div id="accountability" class="mb-3 core-value-banner  accountability">
            <div id="accountability-first" class="first-frame">ACCOUNTABILITY</div>
          </div>
          <div id="trust" class="mb-3 core-value-banner  trust">
            <div id="trust-first" class="first-frame">TRUST</div>
          </div>
          <div id="respect" class="mb-3 core-value-banner  respect">
            <div id="respect-first" class="first-frame">RESPECT</div>
          </div>
          <div id="integrity" class="mb-3 core-value-banner  integrity">
            <div id="integrity-first" class="first-frame">INTEGRITY</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section container py-0">
    <hr class="m-0"/>
  </section>

  <section class="section container standard-padding">
    <div class="sandbox">
      <div class="has-text-centered mb-4">
        <h2 class="title font-gotham">Board of Directors</h2>
        <p class="has-text-left core-values-statement">
        <%= tab %>At the heart of ERA's mission is its Board of Directors, a collective
        of passionate individuals with a shared vision for positive change. Drawing from diverse
        backgrounds and expertise, the board oversees the organization's strategic direction and
        decision-making while ensuring that ERA's accreditation process recognizes rescues and
        shelters that exemplify ethical practices. By embracing ERA's core values and striving
        to build a culture of partnership, accountability, trust, respect, and integrity within the
        rescue community, our Board leads the way towards a world where welfare is prioritized,
        transparency is the norm, and compassionate care is provided to animals in need.
      </p>
      <div class="columns is-centered" style="padding: 2rem">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="janelle-modal-prompt">
                  <%= image_tag "what_is_era/janelle.jpg", class: "board-of-directors-photo janelle" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Janelle Newton</p>
                  <p class="subtitle is-6">President</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="angela-modal-prompt">
                  <%= image_tag "what_is_era/angela.jpg", class: "board-of-directors-photo angela" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Angela Curry</p>
                  <p class="subtitle is-6">Vice President</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="diane-modal-prompt">
                  <%= image_tag "what_is_era/diane.jpg", class: "board-of-directors-photo diane" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Diane Orenchuk</p>
                  <p class="subtitle is-6">Communications</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-centered" style="padding: 0 2rem">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="brittnea-modal-prompt">
                  <%= image_tag "what_is_era/brittnea.jpg", class: "board-of-directors-photo brittnea" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Brittnea Atwood</p>
                  <p class="subtitle is-6">Conduct Enforcement</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="bri-modal-prompt">
                  <%= image_tag "what_is_era/bri.jpg", class: "board-of-directors-photo bri" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Bri Benton</p>
                  <p class="subtitle is-6">Ethical Breeder Liaison</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="misha-modal-prompt">
                  <%= image_tag "what_is_era/misha.jpg", class: "board-of-directors-photo misha" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Misha Krul</p>
                  <p class="subtitle is-6">Secretary</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<%= render "what_is_era/janelle" %>
<%= render "what_is_era/angela" %>
<%= render "what_is_era/diane" %>
<%= render "what_is_era/brittnea" %>
<%= render "what_is_era/bri" %>
<%= render "what_is_era/misha" %>

<script>
  $(document).ready(function() {
    const initCoreValueFrameAnimations = () => {
      const coreValues = [
        ["partnership", "By fostering partnerships with ethical breeders, communities, shelters, and our fellow ethical rescues, we will create the changes that we want to see in the world."],
        ["accountability", "Holding ourselves and those around us in animal welfare accountable to a higher standard fosters transparency and inspires confidence within the rescue community."],
        ["trust", "Animal welfare organizations must work to regain the trust of the communities that they serve and support in the responsible placement of animals in homes."],
        ["respect", "Respect for one another, and respect between rescues and shelters, is vital if we are to present a united front in the face of the animal welfare crisis."],
        ["integrity", "If we are truly acting as a voice for the voiceless, striving to do right by them at all times is paramount to behaving ethically in animal welfare."]
      ]
      for (const val of coreValues) {
        const coreValue = val[0];
        const statement = val[1];
        $(`.core-values-container, .${coreValue}`).mouseenter(function () {
          $(this).fadeTo(100, 0.8, function() {
            $(`#${coreValue}-first`).fadeOut(250, function() {
              $(this).removeClass("first-frame");
              $(this).addClass("second-frame");
              $(this).text(statement).fadeIn(250);
            });
          });
        });
        $(`.${coreValue}`).mouseleave(function () {
          $(this).fadeTo(100, 1.0, function() {
            $(`#${coreValue}-first`).fadeOut(250, function() {
              $(this).removeClass("second-frame");
              $(this).addClass("first-frame");
              $(this).text(coreValue.toUpperCase()).fadeIn(250);
            });
          });
        });

        // MOBILE
        $(`.core-values-container, .${coreValue}`).on("tap", function () {
          $(this).fadeTo(100, 0.8, function() {
            $(`#${coreValue}-first`).fadeOut(250, function() {
              $(this).removeClass("first-frame");
              $(this).addClass("second-frame");
              $(this).text(statement).fadeIn(250);
            });
          });
        });
        $(`.${coreValue}`).on("tap", function () {
          $(this).fadeTo(100, 1.0, function() {
            $(`#${coreValue}-first`).fadeOut(250, function() {
              $(this).removeClass("second-frame");
              $(this).addClass("first-frame");
              $(this).text(coreValue.toUpperCase()).fadeIn(250);
            });
          });
        });
      }
    }
    initCoreValueFrameAnimations();
  });
</script>