<%= javascript_include_tag "our_values" %>

<div class="what-is-era-container mb-4">
  <div class="banner-container" data-testid="what-is-era-banner">
    <section class="hero is-large header-image">
      <div class="hero-body">
        <h1 class="title has-text-white">
          What is ERA?
        </h1>
        <h5 class="subtitle has-text-white">
          The mission, principles, and humans who power the movement
        </h5>
      </div>
    </section>
  </div>

  <section class="section container standard-padding mt-6 mb-4" data-testid="mission-statement">
    <div class="sandbox">
      <div class="tile is-ancestor">
        <div class="tile is-parent is-shady">
          <article class="tile is-child notification is-white py-0 blue-vertical-divider">
            <div class="content is-flex">
              <div class="mx-0 era-logo-container">
                <%= image_tag "logos/era-logo-colored.png", class: "era-logo" %>
              </div>
            </div>
          </article>
        </div>
        <article class="tile is-9 is-shady notification is-white mission-statement has-text-left p-0">
          <div class="content mission-statement-content has-text-grey is-font-18">
            <p>
              <span class="text-med-grey mission-statement-text-lg">
              <%= insert_tab %>

              The Ethical Rescue Association</span> (ERA) is an accrediting body which seeks to promote
              meaningful reform in the world of animal rescue. By offering an assortment of advantages through
              our membership program, including grants, networking opportunities, educational resources, and
              other benefits, we aim to encourage animal rescue organizations to adopt a code of ethics that
              is grounded in animal welfare. Our accredited rescue partners pledge to uphold these standards
              to the best of their abilities for the benefit of the animals in their care and the communities
              they serve.
            </p>
            <p>
              <%= insert_tab %>
              While ERA concentrates on addressing ethical concerns within the animal rescue industry, accomplishing
              this goal hinges on the support of an informed and educated public.  By providing educational resources
              and opportunities for engagement, ERA aims to empower individuals to make informed decisions about the
              organizations that they choose to support. The presence of the ERA Seal of Approval on a rescue's website
              or social media serves as an indicator that the organization has undergone a comprehensive vetting process.
              Accreditation stands as symbol of a rescue or shelter's dedication to ethical practices, responsible
              governance, and animal welfare.
            </p>
            <p>
              <%= insert_tab %>
              <span class="text-med-grey mission-statement-text-lg">Our Mission</span> is to establish ethical guidelines for
              animal rescue organizations, emphasizing humane and ethical treatment of the animals in their care
              while prioritizing public health and safety. By focusing on making practical improvements and promoting
              responsible and ethical practices, we can make meaningful contributions to the well-being of animals
              and the communities they are a part of.
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section class="section container py-0">
    <hr class="m-0"/>
  </section>

  <section class="section container standard-padding mt-2" data-testid="our-values">
    <div class="sandbox">
      <div class="has-text-centered mb-4">
        <h2 class="mb-3 is-size-2 is-size-3-mobile has-text-weight-bold letter-spacing-half">Our Values</h2>
        <%= render "shared/logo-separator" %>
        <p class="has-text-left core-values-statement has-text-grey is-font-18">
          <%= insert_tab %>
          ERA's foundational principles are the bedrock on which it stands, shaping its mission
          and driving its actions. These values serve as the compass which directs every aspect of
          the organization's work, establishing a framework for meaningful reform that paves the
          way for a more ethical future in animal rescue. By upholding these values and recognizing
          the interconnectedness of animal welfare and human society, we can prioritize the well-being
          of both animals and the communities that they impact.
        </p>
        <p class="has-text-left core-values-statement mt-3 mb-6 has-text-grey is-font-18">
          <%= insert_tab %>
          As we navigate the complexities of fulfilling our mission, ERA remains committed to the continuous
          refinement of these methods, taking into account new research, evolving ethical considerations,
          and the feedback of those that we serve. ERA's dedication to its foundational principles
          not only elevates the field of animal rescue but exemplifies the positive transformation
          that can be achieved when passion is coupled with purposeful action.
        </p>
      </div>

      <div class="columns is-centered">
        <div class="column core-value-banners-container">
          <div id="partnership" class="mb-3 core-value-banner partnership">
            <div id="partnership-first" class="first-frame">PARTNERSHIP</div>
          </div>
          <div id="accountability" class="mb-3 core-value-banner  accountability">
            <div id="accountability-first" class="first-frame">ACCOUNTABILITY</div>
          </div>
          <div id="trust" class="mb-3 core-value-banner trust">
            <div id="trust-first" class="first-frame">TRUST</div>
          </div>
          <div id="respect" class="mb-3 core-value-banner respect">
            <div id="respect-first" class="first-frame">RESPECT</div>
          </div>
          <div id="integrity" class="mb-3 core-value-banner integrity">
            <div id="integrity-first" class="first-frame">INTEGRITY</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section container py-0">
    <hr class="m-0"/>
  </section>

  <section class="section container standard-padding" data-testid="board-of-directors">
    <div class="sandbox">
      <div class="has-text-centered mb-4">
        <h2 class="mb-3 is-size-2 is-size-3-mobile has-text-weight-bold letter-spacing-half">Board of Directors</h2>
        <div class="logo-separator mb-4">
          <div class="line-container">
            <div class="line"></div>
          </div>
          <div class="logo-simplified">
            <%= image_tag "logos/logo-simplified.jpg" %>
          </div>
          <div class="line-container">
            <div class="line"></div>
          </div>
        </div>
        <p class="has-text-left core-values-statement has-text-grey is-font-18">
          <%= insert_tab %>
          At the heart of ERA's mission is its Board of Directors, a group of passionate individuals
          with a shared vision for change. Drawing from diverse backgrounds and expertise, the board
          oversees the organization's strategic direction and decision-making while ensuring that ERA's
          accreditation process recognizes rescues and shelters that exemplify ethical practices.
          By embracing ERA's core values and striving to build a culture of partnership, accountability,
          trust, respect, and integrity within the rescue community, our Board leads the way towards
          a world where welfare is prioritized, transparency is the norm, and compassionate care is
          provided to animals in need.
        </p>
      </div>
      <div class="columns is-centered" style="padding: 2rem">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="janelle-modal-prompt">
                  <%= image_tag "what_is_era/janelle.jpg", class: "board-of-directors-photo janelle", alt: "Janelle Newton" %>
                </button>
              </figure>
            </div>
            <div class="card-content has-text-centered">
              <div class="media">
                <div class="media-content">
                  <p class="mb-0 is-size-4 has-text-weight-bold">
                    Janelle Newton
                  </p>
                  <p class="is-6 has-text-centered has-text-grey is-font-18">
                    President
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="angela-modal-prompt">
                  <%= image_tag "what_is_era/angela.jpg", class: "board-of-directors-photo angela", alt: "Angela Curry" %>
                </button>
              </figure>
            </div>
            <div class="card-content has-text-centered">
              <div class="media">
                <div class="media-content">
                  <p class="mb-0 is-size-4 has-text-weight-bold">
                    Angela Curry
                  </p>
                  <p class="is-6 has-text-centered has-text-grey is-font-18">
                    Vice President
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-centered" style="padding: 0 2rem">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="brittnea-modal-prompt">
                  <%= image_tag "what_is_era/brittnea.jpg", class: "board-of-directors-photo brittnea", alt: "Brittnea Atwood" %>
                </button>
              </figure>
            </div>
            <div class="card-content has-text-centered">
              <div class="media">
                <div class="media-content">
                  <p class="mb-0 is-size-4 has-text-weight-bold">
                    Brittnea Atwood
                  </p>
                  <p class="is-6 has-text-centered has-text-grey is-font-18">
                    Conduct Enforcement
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="misha-modal-prompt">
                  <%= image_tag "what_is_era/misha.jpg", class: "board-of-directors-photo misha", alt: "Misha Krul" %>
                </button>
              </figure>
            </div>
            <div class="card-content has-text-centered">
              <div class="media">
                <div class="media-content">
                  <p class="mb-0 is-size-4 has-text-weight-bold">
                    Misha Krul
                  </p>
                  <p class="is-6 has-text-centered has-text-grey is-font-18">Secretary</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<%= render "what_is_era/janelle" %>
<%= render "what_is_era/angela" %>
<%= render "what_is_era/brittnea" %>
<%= render "what_is_era/misha" %>
