<%
  rollbar_url = "https://rollbar.com/mishakrul/?sort=total&environments=development&environments=production&levels=40&levels=50&duration=7d&tz=US%2FEastern&projects=673053&from=2023-11-14T05%3A00%3A00-05%3A00&to=2023-11-16T05%3A07%3A50-05%3A00&order=desc"
%>

<div class="section">
  <div class="columns">
    <div class="column is-2 pl-5 mr-5 sidebar-container">
      <%= render "shared/admin/sidebar", locals: { active_link: @active_link } %>
    </div>

    <div class="column">
      <div class="title">
        Admin Dashboard
      </div>

      <div class="columns is-multiline">
        <div class="column">
          <div class="box">
            <div class="heading">Applications Pending Review</div>
            <div class="title">
              <%= @total_pending_applications %>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="heading">Applications Approved / Declined</div>
            <div class="title"><%= "#{@total_approved}/#{@total_declined}" %></div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="heading">Errors (last 7 days)</div>
            <div class="title">
              <%= link_to @active_error_occurrances, rollbar_url, target: "_blank" %>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="heading">Total Users</div>
            <div class="title"><%= @total_users %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>