<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      New inquiry from <%= @name %>
    </p>
    <p>
      Email: <%= @email %>
    </p>
    <p>
      ---------
    </p>
    <%= @message %>
    <p>
      ---------
    </p>
    <p>
      REMOTE IP: <%= @remote_ip %>
    </p>
    <p>
      X FORWARDED FOR: <%= @x_forwarded_for %>
    </p>
    <p>
      Remote Geo IP Lookup: <%= @remote_geo_location %>
    </p>
    <p>
      X Geo IP Lookup: <%= @x_geo_localization %>
    </p>
    <p>
      Remote address: <%= @remote_address %>
    </p>
    <p>
      X Address: <%= @x_address %>
    </p>
  </body>
</html>