<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      New inquiry from <%= @name %>
    </p>
    <p>
      Email: <%= @email %>
    </p>
    <p>
      ---------
    </p>
    <%= @message %>
    <p>
      ---------
    </p>
    <p>
      HTTP_CF_IPCITY: <%= @headers['HTTP_CF_IPCITY'] %><br/>
      HTTP_CF_REGION: <%= @headers['HTTP_CF_REGION'] %><br/>
      HTTP_CF_REGION_CODE: <%= @headers['HTTP_CF_REGION_CODE'] %><br/>
      HTTP_CF_IPCONTINENT: <%= @headers['HTTP_CF_IPCONTINENT'] %><br/>
      HTTP_CF_IPLATITUDE: <%= @headers['HTTP_CF_IPLATITUDE'] %><br/>
      HTTP_CF_IPLONGITUDE: <%= @headers['HTTP_CF_IPLONGITUDE'] %><br/>
      HTTP_CF_METRO_CODE: <%= @headers['HTTP_CF_METRO_CODE'] %><br/>
      HTTP_CF_POSTAL_CODE: <%= @headers['HTTP_CF_POSTAL_CODE'] %><br/>
      HTTP_CF_TIMEZONE: <%= @headers['HTTP_CF_TIMEZONE'] %><br/>
      HTTP_CF_CONNECTING_IP: <%= @headers['HTTP_CF_CONNECTING_IP'] %><br/>
      HTTP_X_REQUEST_ID: <%= @headers['HTTP_X_REQUEST_ID'] %><br/>
      HTTP_X_REQUEST_START: <%= @headers['HTTP_X_REQUEST_START'] %><br/>
    </p>
  </body>
</html>