<div class="code-of-ethics-container mb-6">
  <div class="banner-container" data-testid="code-of-ethics-banner">
    <section class="hero is-large header-image">
      <div class="hero-body">
        <h1 class="title has-text-white">
          Code of Ethics
        </h1>
        <h5 class="subtitle has-text-white">
          The standards that govern ERA-accredited rescue operations
        </h5>
      </div>
    </section>
  </div>

  <section class="section container pt-6 mt-6">
    <section class="content-container pt-4 pb-6 mb-6" data-testid="message-from-president">
      <div class="columns is-gapless president-statement-container">
        <div class="column is-two-fifths president-photo-container">
          <%= image_tag "code_of_ethics/janelle.jpg", class: "president-img" %>
        </div>
        <div class="column">
          <div class="coe-statement-container">
            <h2 class="mb-5 has-text-weight-bold letter-spacing-half coe-statement-title">
              <span class="has-text-weight-bold">A Message From Our President</span>
            </h2>
            <div class="has-text-grey is-font-18 double-spaced">
              <div>
                <%= insert_tab %>The Code of Ethics was written as the foundation of ERA so that we can uphold a
                standard of care for the animals in our organizations and the communities that
                we serve. These categories are what have been shown to be lacking within the
                rescue community in recent years.
              </div>
              <div class="pt-4">
                <%= insert_tab %>This is not an all inclusive or limiting guideline of ethics, but rather a reminder
                of the greater good we must be working towards for the betterment of animal welfare
                and all animals in our communities. All ERA Accredited Rescues agree to uphold this
                Code of Ethics to the best of their abilities and to work towards bettering their
                weaknesses and bolstering their strengths.
              </div>
              <div class="president-sig-container pt-4">
                <%= image_tag "code_of_ethics/janelle-sig.jpg", class: 'president-sig' %> 
                <div class="has-text-grey is-font-18">
                  <div>Janelle Newton</div>
                  <div>President</div>
                  <div>Ethical Rescue Association</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section container py-0">
      <hr class="m-0"/>
    </section>

    <section class="content-container mt-6" data-testid="official-code-of-ethics">
      <div class="container has-text-centered">
        <h2 class="mb-5 is-size-2 is-size-3-mobile has-text-weight-bold letter-spacing-half">
          The Official ERA Code of Ethics
        </h2>
        <%= render "shared/logo-separator" %>
        <div class="has-text-left has-text-grey is-font-18 double-spaced mb-6">
          <p>
            <%= insert_tab %>The following is an abridged overview of the Ethical Rescue Association's Code of Ethics.
            These entail a commitment to upholding and promoting ethical practices, responsible governance, and
            the welfare of animals in our care. These standards are designed to assist us in assessing and
            recognizing rescues and shelters that demonstrate this commitment. ERA strongly encourages other animal welfare organizations to adopt these principles,
            fostering a collective effort towards creating a more compassionate and responsible landscape for animal rescue.
            Each principle holds immense importance in promoting integrity-driven approaches and accountable management
            within the rescue community.
          </p>
        </div>

        <!-- ROW 1 -->
        <div class="columns is-centered">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-2by1">
                  <button class="modal-prompt-trigger is-transparent">
                    <%= image_tag "code_of_ethics/welfare-concepts.jpg", class: "ethics-category-photo" %>
                  </button>
                </figure>
              </div>
              <div class="card-content coe-card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="mb-4 is-size-4 is-size-4-tablet is-size-3-mobile has-text-weight-bold letter-spacing-standard">
                      Welfare Concepts
                    </p>
                    <p class="is-6 has-text-left has-text-grey is-font-18 double-spaced">
                      <%= insert_tab %>
                      Animal welfare is not only about the singular individual in front of us, but
                      also the well-being and care of all around us. We must understand the impact of
                      quality versus quantity. While the impulse to save as many animals as possible
                      is commendable, it is vital to shift our attention from the quantity of animals
                      saved to the quality of care provided. Acting on an understanding of physical,
                      mental, and emotional health and wellbeing will lead to accountability for every
                      animal placed in a home.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-2by1">
                  <button class="modal-prompt-trigger is-transparent">
                    <%= image_tag "code_of_ethics/adoption-and-foster-placement.jpg", class: "ethics-category-photo" %>
                  </button>
                </figure>
              </div>
              <div class="card-content coe-card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="mb-4 is-size-4 is-size-4-tablet is-size-3-mobile has-text-weight-bold letter-spacing-standard">
                      Adoption and Foster Placement
                    </p>
                    <p class="is-6 has-text-left has-text-grey is-font-18 double-spaced">
                      <%= insert_tab %>
                      Equal opportunities for adoption and placement of animals should be
                      attainable, fair, and reasonable. Permanent foster situations are appropriate for
                      hospice cases. Biosecurity should be a primary focus for any and all animals within
                      rescue care. Honesty must become a forefront consideration when placing animals in
                      homes, as we should be focused on setting the animal and the family up for success,
                      and not a repeated reentry into the system and a drain on rescue resources.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ROW 2 -->
        <div class="columns is-centered">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-2by1">
                  <button class="modal-prompt-trigger is-transparent">
                    <%= image_tag "code_of_ethics/humane-care-and-treatment.jpg", class: "ethics-category-photo" %>
                  </button>
                </figure>
              </div>
              <div class="card-content coe-card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="mb-4 is-size-4 is-size-4-tablet is-size-3-mobile has-text-weight-bold letter-spacing-standard">
                      Humane Care and Treatment
                    </p>
                    <p class="is-6 has-text-left has-text-grey is-font-18 double-spaced">
                      <%= insert_tab %>
                      Animals in rescue care should be on the path to a treatment plan for any and all
                      medical needs. Emotional health needs to be considered as important as physical health.
                      Euthanasia is an unfortunate reality and should be considered if an animal's quality of
                      life is in decline. While this can be hard on us at times, we need to lead by example to
                      do right by these animals no matter how it makes us feel. Not every case can be a success
                      story, but the care of every animal can be ethical.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-2by1">
                  <button class="modal-prompt-trigger is-transparent">
                    <%= image_tag "code_of_ethics/public-presence.jpg", class: "ethics-category-photo" %>
                  </button>
                </figure>
              </div>
              <div class="card-content coe-card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="mb-4 is-size-4 is-size-4-tablet is-size-3-mobile has-text-weight-bold letter-spacing-standard">
                      Public Presence
                    </p>
                    <p class="is-6 has-text-left has-text-grey is-font-18 double-spaced">
                      <%= insert_tab %>
                      Rescues should maintain a professional public presence both in person and
                      on social media. When discussing cases, there should be only factual statements presented,
                      not embellished stories to garner donor generosity. Appropriate and supportive partnerships
                      with shelters is a must.  Following all local laws, even when it is not what we want to do,
                      sets an example for those around us. Being positive and uplifting to all animal professionals
                      is vital to maintain an ethical public presence.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ROW 3 -->
        <div class="columns is-centered">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-2by1">
                  <button class="modal-prompt-trigger is-transparent">
                    <%= image_tag "code_of_ethics/funding-transparency.jpg", class: "ethics-category-photo" %>
                  </button>
                </figure>
              </div>
              <div class="card-content coe-card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="mb-4 is-size-4 is-size-4-tablet is-size-3-mobile has-text-weight-bold letter-spacing-standard">
                      Funding Transparency
                    </p>
                    <p class="is-6 has-text-left has-text-grey is-font-18 double-spaced">
                      <%= insert_tab %>
                      Accountability to our donor base, who help to keep our proverbial doors open,
                      should not be taken lightly. Animals should not be brought into rescue care if there is a
                      large outstanding medical debt. Offering thorough explanation of needs with evidential
                      documentation such as invoices and estimates should be done without prompting or request.
                      If at any time a donor requests a detailed history of use of funds, it should be made
                      available to them within a timely manner.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-2by1">
                  <button class="modal-prompt-trigger is-transparent">
                    <%= image_tag "code_of_ethics/community-care-and-support.jpg", class: "ethics-category-photo" %>
                  </button>
                </figure>
              </div>
              <div class="card-content coe-card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="mb-4 is-size-4 is-size-4-tablet is-size-3-mobile has-text-weight-bold letter-spacing-standard">
                      Community Care and Support
                    </p>
                    <p class="is-6 has-text-left has-text-grey is-font-18 double-spaced">
                      <%= insert_tab %>
                      Pet retention should be a priority whenever possible within an organization’s abilities.
                      Offering some sort of pet retention program, such as wellness care, emergency support, and
                      microchipping, will strengthen our bonds with the communities that we serve. We must abide
                      by local laws and continue to educate the public on the changes and intricacies of those laws.
                      Rescues should educate the public on animal welfare and all that goes into it, both the
                      good and the bad.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
