
<div class="navbar-container">
  <div class="font-gotham">
    <nav class="navbar py-2 negative-margin" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <%= link_to "ETHICAL RESCUE ASSOCIATION", root_url, class: "main-title" %>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu font-size-14 navbar-container">
        <div class="navbar-end">
          <div class="navbar-item is-hoverable pr-2">
            <div class="navbar-item">
              <button class="modal-prompt-trigger button font-gotham font-size-14 become-a-member" style="font-size: 14px;" data-target="payment-prompt">
                Become a Member
              </button>
            </div>
            <div class="navbar-item">
              <%= link_to "What is ERA?", what_is_era_path, class: 'nav-link' %>
            </div>
            <div class="navbar-item">
              <%= link_to "Code of Ethics", code_of_ethics_path, class: 'nav-link' %>
            </div>
            <div class="navbar-item">
              <%= link_to "FAQ", faq_path, class: 'nav-link' %>
            </div>
            <div class="navbar-item">
              <%= link_to "Contact", contact_path, class: 'nav-link' %>
            </div>

            <% if false %>
              <!-- TEMPORARY -->
              <div class="navbar-dropdown">
                <div class="navbar-item">
                  <%= link_to "What is ERA?", what_is_era_path, class: 'nav-link' %>
                </div>
                <div class="navbar-item">
                  <%= link_to "Code of Ethics", code_of_ethics_path, class: 'nav-link' %>
                </div>
                <div class="navbar-item">
                  <%= link_to "FAQ", faq_path, class: 'nav-link' %>
                </div>
              </div>
            <% end %>
          </div>

          <% if session_access_key_set? %>
            <% if false %>
              <div class="navbar-item has-dropdown is-hoverable pr-2">
                <a class="navbar-link">
                  Resources
                </a>
                <div class="navbar-dropdown">
                  <div class="navbar-item">
                    <%= link_to "Spay & Neuter", spay_and_neuter_path, class: 'nav-link' %>
                  </div>
                  <div class="navbar-item">
                    <%= link_to "Products", products_path, class: 'nav-link' %>
                  </div>
                  <div class="navbar-item">
                    <%= link_to "Microchips", microchipping_path, class: 'nav-link' %>
                  </div>
                  <div class="navbar-item">
                    <%= link_to "Fencing", fencing_path, class: 'nav-link' %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

          <% if user_signed_in? %>
            <div class="navbar-item has-dropdown is-hoverable pr-2">
              <a class="navbar-link" href=<%"#{edit_user_registration_path}"%>>
                <%= current_user.email %>
              </a>
              <div class="navbar-dropdown">
                <% if session_access_key_set? %>
                  <div class="navbar-item">
                    <%= link_to "Rescues", animal_rescues_path, class: 'nav-link' %>
                  </div>
                <% end %>
                <a class="navbar-item">
                  Profile Settings
                </a>
                <div class="navbar-item">
                  <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'logout-btn main-title font-gotham nav-link' %>
                </div>
              </div>
            </div>
          <% else %>
            <% if false %>
              <div class="navbar-item pr-5">
                <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
              </div>
            <% end %>
          <% end %>

        </div>
      </div>
    </nav>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".navbar-burger").click(function() {
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
    })
  })
</script>

<%= render 'main/payment_prompt' %>
