<%= javascript_include_tag "navbar_burger" %>

<div class="navbar-container">
  <div class="font-gotham">
    <nav class="navbar py-2 negative-margin" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item p-0">
          <%= link_to "ETHICAL RESCUE ASSOCIATION", root_url, class: "main-title is-font-14" %>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu navbar-container">
        <div class="navbar-end">
          <div class="navbar-item is-hoverable pr-2">
            <div class="navbar-item">
              <%= link_to "Become a Member", become_a_member_path, class: 'nav-link is-font-14' %>
            </div>
            <div class="navbar-item dropdown has-dropdown is-hoverable">
              <div class="dropdown-trigger">
                <a class="navbar-link is-font-14" aria-haspopup="true" aria-controls="dropdown-about">
                  Resources
                </a>
              </div>
              <div class="dropdown-menu" id="dropdown-about" role="menu">
                <div class="dropdown-content">
                  <div class="navbar-item is-font-14">
                    <%= link_to "Rescues", rescues_path, class: 'nav-link' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item dropdown has-dropdown is-hoverable">
              <div class="dropdown-trigger">
                <a class="navbar-link is-font-14" aria-haspopup="true" aria-controls="dropdown-about">
                  About
                </a>
              </div>
              <div class="dropdown-menu" id="dropdown-about" role="menu">
                <div class="dropdown-content">
                  <div class="navbar-item is-font-14">
                    <%= link_to "What is ERA?", what_is_era_path, class: 'nav-link' %>
                  </div>
                  <div class="navbar-item is-font-14">
                    <%= link_to "Code of Ethics", code_of_ethics_path, class: 'nav-link' %>
                  </div>
                  <div class="navbar-item is-font-14">
                    <%= link_to "FAQ", faq_path, class: 'nav-link' %>
                  </div>
                  <div class="navbar-item is-font-14">
                    <%= link_to "Contact", contact_us_path, class: 'nav-link' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-font-14">
              <%= link_to "Donate", donate_path, class: 'font-gotham nav-link' %>
            </div>
            <% if user_signed_in? %>
              <div class="navbar-item dropdown has-dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <div class="navbar-link is-font-14" aria-haspopup="true" aria-controls="dropdown-email">
                    <%= current_user.email %>
                  </a>
                </div>
                <div class="dropdown-menu" id="dropdown-email" role="menu">
                  <div class="dropdown-content">
                    <% if current_user.admin? %>
                      <div class="navbar-item is-font-14">
                        <%= button_to 'Admin Dashboard', admin_path, method: :get, class: 'is-font-14 dropdown-link logout-btn main-title font-gotham nav-link' %>
                      </div>
                    <% end %>
                    <div class="navbar-item is-font-14">
                      <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'is-font-14 dropdown-link logout-btn main-title font-gotham nav-link' %>
                    </div>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="navbar-item">
                <%= link_to 'Log in', new_user_session_path, class: 'nav-link is-font-14' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<%= render 'main/payment_prompt' %>
