<%= javascript_include_tag "navbar_burger" %>

<div class="navbar-container">
  <div class="font-gotham">
    <nav class="navbar py-2 negative-margin" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item p-0">
          <%= link_to "ETHICAL RESCUE ASSOCIATION", root_url, class: "main-title" %>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu navbar-container">
        <div class="navbar-end">
          <div class="navbar-item is-hoverable pr-2">
            <% if false %>
              <div class="navbar-item">
                <button class="modal-prompt-trigger button font-gotham become-a-member" style="font-size: 14px;" data-target="payment-prompt">
                  Become a Member
                </button>
              </div>
            <% end %>
            <div class="navbar-item">
              <%= link_to "What is ERA?", what_is_era_path, class: 'nav-link' %>
            </div>
            <div class="navbar-item">
              <%= link_to "Code of Ethics", code_of_ethics_path, class: 'nav-link' %>
            </div>
            <% if Flipper.enabled?(:resources_tab, current_user) %>
              <div class="navbar-dropdown">
                <div class="navbar-item">
                  <%= link_to "Rescues", animal_rescues_path, class: 'nav-link' %>
                </div>
              </div>
            <% end %>
            <div class="navbar-item">
              <%= link_to "FAQ", faq_path, class: 'nav-link' %>
            </div>
            <div class="navbar-item">
              <%= link_to "Contact", contact_us_path, class: 'nav-link' %>
            </div>
          </div>

          <% if user_signed_in? %>
            <div class="navbar-item has-dropdown is-hoverable pr-2">
              <a class="navbar-link" href=<%"#{edit_user_registration_path}"%>>
                <%= current_user.email %>
              </a>
              <div class="navbar-dropdown">
                <% if false %>
                  <div class="navbar-item">
                    <%= link_to "Rescues", animal_rescues_path, class: 'nav-link' %>
                  </div>
                <% end %>
                <%# <a class="navbar-item main-title font-gotham">
                  Profile Settings
                </a> %>
                <div class="navbar-item">
                  <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-link logout-btn main-title font-gotham nav-link' %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="navbar-item pr-4 pl-2">
              <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
            </div>
          <% end %>

        </div>
      </div>
    </nav>
  </div>
</div>

<%= render 'main/payment_prompt' %>
