<div class="font-gotham">
  <nav class="navbar py-2" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="main-title">ETHICAL RESCUE ASSOCIATION</span>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu f-14 navbar-container">
      <div class="navbar-end">
        <div class="navbar-item pr-5">
            <%= link_to 'Rescues', animal_rescues_path %>
        </div>
        <div class="navbar-item has-dropdown is-hoverable pr-2">
          <a class="navbar-link">
            Resources
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Code of Ethics
            </a>
            <a class="navbar-item">
              Member Benefits
            </a>
          </div>
        </div>
        <div class="navbar-item pr-5">
          <%= link_to 'Apply to Join', apply_path %>
        </div>
        <% user_signed_in? ? 'Log out' : nil %>
        <% if user_signed_in? %>
          <div class="navbar-item pr-5">
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'logout-btn main-title font-gotham' %>
          </div>
        <% end %>
        <div class="navbar-item pr-5">
          <% if user_signed_in? %>
            <%= link_to current_user.email, edit_user_registration_path %>
          <% else %>
            <%= link_to 'Log in', new_user_session_path %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</div>