<%
  @active_link = "#{controller_path}##{action_name}"
%>

<div class="section">
  <div class="columns">
    <div class="column is-2 pl-5 mr-5 sidebar-container">
      <%= render "shared/admin/sidebar", locals: { active_link: @active_link } %>
    </div>

    <div class="column">
      <div class="title mb-4">
        Organizations
      </div>

      <div>
        <%= link_to "New Organization", new_admin_organization_path %>
      </div>

      <div class="column">
        <div class="mt-3">
          <% @organizations.each do |organization| %>
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Category</th>
                  <th>Level</th>
                  <th>EIN</th>
                  <th>Created At</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= organization.id %></td>
                  <td><%= organization.name %></td>
                  <td><%= organization.code %></td>
                  <td><%= organization.category %></td>
                  <td><%= organization.level %></td>
                  <td><%= organization.ein %></td>
                  <td><%= organization.created_at %></td>
                  <td>
                    <%= button_to "show", admin_organization_path(organization), method: :get, class: "button is-small is-light ml-3" %>
                  </td>
                  <td>
                    <%= button_to "edit", edit_admin_organization_path(organization), method: :get, class: "button is-small is-light" %>
                  </td>
                  <td>
                    <%= button_to "Delete",
                      admin_organization_path(organization),
                      method: :delete,
                      form: {
                        data: {
                          turbo_confirm: "Are you sure you want to delete #{organization.name}?"
                        }
                      },
                      class: "button is-small is-danger"
                    %>
                  </td>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>