<%
  @active_link = "#{controller_path}##{action_name}"
%>

<div class="section">
  <div class="columns">
    <div class="column is-2 pl-5 mr-5 sidebar-container">
      <%= render "shared/admin/sidebar", locals: { active_link: @active_link } %>
    </div>

    <div class="column">
      <div class="title mb-4">
        <%= @organization.name %>
      </div>

      <div class="mb-4">
        <%= link_to "Back", admin_organizations_path %>
      </div>

      <div>
        <table class="table">
          <tbody>
            <p class="mb-3">
              <span class="has-text-weight-bold">Code:</span> <%= @organization.code %>
            </p>
            <p class="mb-3">
              <span class="has-text-weight-bold">Category:</span> <%= @organization.category %>
            </p>
            <p class="mb-3">
              <span class="has-text-weight-bold">Specialization:</span> <%= @organization.specialization.humanize.downcase %>
            </p>
            <p class="mb-3">
              <span class="has-text-weight-bold">Level:</span> <%= @organization.level %>
            </p>
            <p class="mb-3">
              <span class="has-text-weight-bold">EIN:</span> <%= @organization.ein %>
            </p>
            <div style="max-width: 50rem !important;">
              <p class="mb-3">
                <span class="has-text-weight-bold">Description:</span> <%= @organization.description %>
              </p>
            </div>
            <p class="mb-3">
              <span class="has-text-weight-bold">Website URL:</span>
              <a href=<%= @organization.website_url %> target="_blank">
                <%= @organization.website_url %>
              </a>
            </p>
            <p class="mb-3">
              <span class="has-text-weight-bold">Facebook URL:</span>
              <a href=<%= @organization.facebook_url %> target="_blank">
                <%= @organization.facebook_url %>
              </a>
            </p>
            <p class="mb-3">
              <span class="has-text-weight-bold">Instagram URL:</span>
              <a href=<%= @organization.instagram_url %> target="_blank">
                <%= @organization.instagram_url %>
              </a>
            </p>
            <p class="mb-3">
              <span class="has-text-weight-bold">TikTok URL:</span>
              <a href=<%= @organization.tiktok_url %> target="_blank">
                <%= @organization.tiktok_url %>
              </a>
            </p>
            <p class="mb-3">
              <span class="has-text-weight-bold">Updated At:</span> <%= @organization.updated_at %>
            </p>
            <p class="mb-3">
              <span class="has-text-weight-bold">Created At:</span> <%= @organization.created_at %>
            </p>
            <p class="mb-3">
              <span class="has-text-weight-bold">Main Photo:</span>
              <% if @organization.main_photo.attached? %>
                <p>
                  <img src=<%= url_for @organization.main_photo %> class="mt-2 org-photo">
                </p>
              <% end %>
            </p>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>