<% tab = '&nbsp &nbsp &nbsp'.html_safe %>

<div class="code-of-ethics-container">
  <div class="banner-container">
    <div class="banner-img">
      <div class="hero-body hero-content">
        <div class="banner-content">
          <h3 class="tagline-primary font-gotham-bold">
            Code of Ethics
          </h3>
          <h3 class="tagline-secondary font-gotham-regular">
            The standards that govern ERA-accredited rescue operations
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container is-widescreen py-5">
    <div class="content-container pt-6 pb-5">
      <div class="columns is-gapless">
        <div class="column is-two-fifths">
          <%= image_tag "about_pages/code_of_ethics/janelle.jpg", class: "president-img" %>
        </div>
        <div class="column">
          <div class="coe-statement-container">
            <div class="title coe-statement-title font-gotham">
              <strong>A Message From Our President</strong>
            </div>
            <div class="presidents-coe-statement pt-4">
              <div>
                The Code of Ethics was written as the foundation of ERA so that we can uphold a
                standard of care for the animals in our organizations and the communities that
                we serve. These categories are what have been shown to be lacking within the
                rescue community in recent years.
              </div>
              <div class="pt-4">
                This is not an all inclusive or limiting guideline of ethics, but rather a reminder
                of the greater good we must be working towards for the betterment of animal welfare
                and all animals in our communities. All ERA Accredited Rescues agree to uphold this
                Code of Ethics to the best of their abilities and to work towards bettering their
                weaknesses and bolstering their strengths.
              </div>
              <div class="pt-4">
                <div>Janelle Newton</div>
                <div>President</div>
                <div>Ethical Rescue Association</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="section container py-0">
      <hr/>
    </section>

    <section class="section container-section pt-5 pb-1">
      <div class="container has-text-centered">
        <h2 class="title font-gotham mb-4">Code of Ethics</h2>
        <div class="logo-separator mb-4">
          <div class="line mr-4"></div>
          <div class="logo-simplified">
            <%= image_tag "logos/logo-simplified.jpg" %>
          </div>
          <div class="line ml-4"></div>
        </div>
        <p class="has-text-justified core-values-statement">
          <%= tab %>The following is an abridged outline of the Ethical Rescue Association's Code of Ethics.
          These entail a commitment to upholding and promoting ethical practices, responsible governance, and
          the welfare of animals in our care. These standards are designed to assist us in assessing and
          recognizing rescues and shelters that demonstrate this commitment. ERA strongly encourages other
          animal welfare organizations to adopt these principles, fostering a collective effort towards
          creating a more compassionate and responsible landscape for animal rescue. Each principle holds
          immense importance in promoting integrity-driven approaches and accountable management within the
          rescue community.
        </p>
        <div class="columns is-centered" style="padding: 2rem">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent">
                  <%= image_tag "about_pages/code_of_ethics/welfare-concepts.jpg", class: "ethics-category-photo" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Welfare Concepts</p>
                  <p class="is-6 has-text-justified ethics-category">
                    <%= tab %>Animal welfare advocacy is not about the singular individual in front of us, but
                    rather the welfare and care of all around us. We must understand the difference from Animal
                    Rights activism. Rescues should focus on the quality of care and not the quantity of animals.
                    Understanding and acting on a deep, scientific understanding of physical, mental, and emotional
                    health and wellbeing will lead to accountability for every animal that is placed in a home.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent">
                  <%= image_tag "about_pages/code_of_ethics/humane-care-and-treatment.jpg", class: "ethics-category-photo" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Humane Care and Treatment</p>
                  <p class="is-6 has-text-justified ethics-category">
                    <%= tab %>Euthanasia is an unfortunate reality in rescue for a variety of reasons including emotional
                    and behavioral, which must be considered as important as physical health. Providing this
                    compassionate care is hard on us at times, but animal welfare is not easy. As such, we need
                    to lead by example to do right by these animals no matter how it makes us feel. Not every
                    case can be a success story, but the care of every animal can be successful and ethical.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent">
                  <%= image_tag "about_pages/code_of_ethics/adoption-and-foster-placement.jpg", class: "ethics-category-photo" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Adoption and Foster Placement</p>
                  <p class="is-6 has-text-justified ethics-category">
                    <%= tab %>Equal opportunities for adoption and placement of animals should be
                    attainable, fair, and reasonable. Permanent foster situations have their time and place
                    for hospice cases. Biosecurity should be a primary focus for any and all animals within
                    rescue care. Honesty must become a forefront consideration when placing animals in
                    homes, as we should be focused on setting the animal and the family up for success,
                    and not a repeated reentry into the system and a drain on rescue resources.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-centered" style="padding: 0 2rem">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent">
                  <%= image_tag "about_pages/code_of_ethics/public-presence.jpg", class: "ethics-category-photo" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Public Presence</p>
                  <p class="is-6 has-text-justified ethics-category">
                    <%= tab %>Rescues should maintain a professional public presence both in person and
                    on social media. When discussing cases, there should be only factual statements presented,
                    not embellished stories to garner donor generosity. Appropriate and supportive partnerships
                    with shelters is a must.  Following all local laws, even when it is not what we want to do,
                    sets an example for those around us. Being positive and uplifting to all animal professionals
                    is vital to maintain an ethical public presence.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent">
                  <%= image_tag "about_pages/code_of_ethics/funding-transparency.jpg", class: "ethics-category-photo" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Funding Transparency</p>
                  <p class="is-6 has-text-justified ethics-category">
                    <%= tab %>Accountability to our donor base, who help to keep our proverbial doors open,
                    should not be taken lightly. Animals should not be brought into rescue care if there is a
                    large outstanding medical debt. Offering thorough explanation of needs with evidential
                    documentation such as invoices and estimates should be done without prompting or request.
                    If at any time a donor requests a detailed history of use of funds, it should be made
                    available to them within a timely manner.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent">
                  <%= image_tag "about_pages/code_of_ethics/community-care-and-support.jpg", class: "ethics-category-photo" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Community Care and Support</p>
                  <p class="is-6 has-text-justified ethics-category">
                    <%= tab %>Pet retention should be a priority whenever possible within an organization’s abilities.
                    Offering some sort of pet retention program, such as wellness care, emergent care support, or
                    microchipping, will strengthen our bonds with the communities that we serve. We must abide
                    by local laws and continue to educate the public on the changes and intricacies of those laws.
                    Rescues should educate the public on animal welfare and all that goes into it, both the
                    good and the bad.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
  $(document).ready(function() {
    var allPanels = $('.accord-content').hide();
    var heads = $('.accordion header');
    $(heads).on('click', function() {
      $this = $(this);
      $target =  $this.parent().find('div.accord-content');
      if (!$target.hasClass('active')) {
        heads.removeClass('selected');
        $this.addClass('selected');
        allPanels.removeClass('active').slideUp();
        $target.addClass('active').slideDown();
      } else {
        heads.removeClass('selected');
        allPanels.removeClass('active').slideUp();
      }
    });
  });
</script>