<div class="code-of-ethics-container">
  <div class="banner-container">
    <div class="banner-img">
      <div class="hero-body hero-content">
        <div class="banner-content">
          <h3 class="tagline-primary font-gotham-bold">
            Code of Ethics
          </h3>
          <h3 class="tagline-secondary font-gotham-regular">
            The standards that govern ERA-accredited rescue operations
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container is-widescreen font-roboto pt-5">
    <div class="content-container">
      <div class="columns is-gapless">
        <div class="column has-text-centered">
          <%= image_tag "about_pages/code_of_ethics/janelle.jpg", class: "president-img" %>
        </div>
        <div class="column">
          <div class="coe-statement-container">
            <div class="coe-statement-title font-gotham">
              <strong>A Message From Our President</strong>
            </div>
            <div class="coe-statement pt-4">
              <div>
                This Code of Ethics was written as the foundation of ERA so that we can uphold a
                standard of care for the animals in our organizations and the communities that
                we serve. These categories are what have been shown to be lacking within the
                rescue community in recent years.
              </div>
              <div class="pt-4">
                This is not an all inclusive or limiting guideline of ethics, but rather a reminder
                of the greater good we must be working towards for the betterment of animal welfare
                and all animals in our communities. All ERA Accredited Rescues agree to uphold this
                Code of Ethics to the best of their abilities and to work towards bettering their
                weaknesses and bolstering their strengths.
              </div>
              <div class="pt-4">
                <div>Janelle Newton</div>
                <div>President</div>
                <div>Ethical Rescue Association</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-container">
      <div class="columns accordion-columns">
        <div class="column">
          <article class="accordion">
            <section>
              <header class="top-tab">
                <h5 class="d-flex is-justify-content-space-between">Welfare Concepts</h5>
              </header>
              <div class="accord-content">
                <p><%= render 'welfare_concepts' %></p>
              </div>
            </section>
            <section>
              <header>
                <h5 class="d-flex is-justify-content-space-between">Humane Care and Treatment</h5>
              </header>
              <div class="accord-content">
                <p><%= render 'humane_care_and_treatment' %></p>
              </div>
            </section>
            <section>
              <header>
                <h5 class="d-flex is-justify-content-space-between">Adoption and Foster Placement</h5>
              </header>
              <div class="accord-content">
                <p><%= render 'adoption_and_foster_placement' %></p>
              </div>
            </section>
            <section>
              <header>
                <h5 class="d-flex is-justify-content-space-between">Public Presence</h5>
              </header>
              <div class="accord-content">
                <p><%= render 'public_presence' %></p>
              </div>
            </section>
            <section>
              <header>
                <h5 class="d-flex is-justify-content-space-between">Funding Transparency</h5>
              </header>
              <div class="accord-content">
                <p><%= render 'funding_transparency' %></p>
              </div>
            </section>
            <section>
              <header>
                <h5 class="d-flex is-justify-content-space-between">Community Care and Support</h5>
              </header>
              <div class="accord-content">
                <p><%= render 'community_care_and_support' %></p>
              </div>
              <div class="bottom-tab"></div>
            </section>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var allPanels = $('.accord-content').hide();
    var heads = $('.accordion header');
    $(heads).on('click', function() {
      $this = $(this);
      $target =  $this.parent().find('div.accord-content');
      if (!$target.hasClass('active')) {
        heads.removeClass('selected');
        $this.addClass('selected');
        allPanels.removeClass('active').slideUp();
        $target.addClass('active').slideDown();
      } else {
        heads.removeClass('selected');
        allPanels.removeClass('active').slideUp();
      }
    });
  });
</script>