<% tab = '&nbsp &nbsp &nbsp'.html_safe %>

<div class="what-is-era-container mb-4">
  <div class="banner-container">
    <div class="banner-img">
      <div class="hero-body hero-content">
        <div class="banner-content">
          <h3 class="tagline-primary font-gotham-bold">
            What is ERA?
          </h3>
          <h3 class="tagline-secondary font-gotham-regular">
            The mission, principles, and humans who power the movement
          </h3>
        </div>
      </div>
    </div>
  </div>

  <section class="container pt-5 pb-5">
    <div class="sandbox font-standard-body">
      <div class="tile is-ancestor mt-4">
        <div class="tile is-parent is-shady">
          <article class="tile is-child notification is-white py-0 blue-vertical-divider">
            <div class="content is-flex is-justify-content-center">
              <div class="era-logo-container mb-0">
                <%= image_tag "logos/era-logo-colored.png" %>
              </div>
            </div>
          </article>
        </div>
        <article class="tile is-8 is-shady notification is-white mission-statement has-text-justified">
          <div class="content mission-statement-content">
            <p>
              <%= tab %><span class="font-size-22">The Ethical Rescue Association</span> (ERA), is an
              accrediting body that seeks to bring about much-needed grassroots reform in the world
              of animal rescue. With a team of dedicated volunteers, ERA strives to foster
              a compassionate and transparent environment within the rescue community.
              Through our rigorous accreditation process, we assess and recognize rescues and
              shelters that demonstrate a commitment to ethical practices, responsible governance,
              and animal welfare. Moreover, ERA takes on the vital
              responsibility of educating the public on ethical rescue principles, empowering
              individuals to make informed decisions and support reputable organizations that
              align with these values.
            </p>
            <p>
              <%= tab %><span class="font-size-22">Our Mission</span> is to provide ethical guidelines
              for animal welfare organizations to promote humane and ethical treatment of the animals
              in their care, as well as putting public health and safety back at the forefront.
              By distancing from animal rights activism, the Ethical Rescue Association will promote
              true progress in the battle against the animal welfare crisis that is spreading
              across the United States.
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section class="section container p-0">
    <hr/>
  </section>

  <section class="section container py-4">
    <div class="sandbox font-standard-body">
      <div class="has-text-centered mb-4">
        <h2 class="title font-gotham">Our Values</h2>
        <p class="has-text-justified core-values-statement">
          <%= tab %>ERA's foundational principles are the bedrock on which it stands, shaping its mission
          and driving its actions. These values serve as the compass that directs every aspect of
          the organization's work. An unwavering commitment to upholding these principles establishes a
          framework for meaningful reform and paves the way for a more ethical future in animal rescue.
          By upholding these values and recognizing the interconnectedness of animal welfare and human
          society, we can prioritize the well-being of both animals and the communities that they impact.
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column core-value-banners-container">
          <div id="partnership" onClick="animateFrame('partnership');">
            <div class="core-value-banner-container transitions">
              <div class="core-value-banner partnership transitions">
                <div class="frame transitions transitions">
                  <span class="first transitions">
                    PARTNERSHIP
                  </span>
                  <span class="second transitions">
                    By fostering a partnership with ethical breeders, communities, shelters, and our
                    fellow ethical rescues, we will create the changes that we want to see in the world.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div id="accountability" onClick="animateFrame('accountability');">
            <div class="core-value-banner-container">
              <div class="core-value-banner accountability transitions">
                <div class="frame transitions">
                  <span class="first transitions">
                    ACCOUNTABILITY
                  </span>
                  <span class="second transitions">
                    Holding ourselves and those around us in animal welfare accountable to a higher standard
                    fosters transparency and inspires confidence within the rescue community.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div id="trust" onClick="animateFrame('trust');">
            <div class="core-value-banner-container transitions">
              <div class="core-value-banner trust transitions">
                <div class="frame transitions">
                  <span class="first transitions">
                    TRUST
                  </span>
                  <span class="second transitions">
                    Animal welfare organizations must work to regain the trust of the communities that they
                    serve and support in the responsible placement of animals in homes.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div id="respect" onClick="animateFrame('respect');">
            <div class="core-value-banner-container transitions">
              <div class="core-value-banner respect transitions">
                <div class="frame transitions">
                  <span class="first transitions">
                    RESPECT
                  </span>
                  <span class="second transitions">
                    Respect for one another, and respect between rescues and shelters, is vital if we are to
                    present a united front in the face of the animal welfare crisis.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div id="integrity" onClick="animateFrame('integrity');">
            <div class="core-value-banner-container transitions">
              <div class="core-value-banner integrity transitions">
                <div class="frame transitions transitions">
                  <span class="first transitions">
                    INTEGRITY
                  </span>
                  <span class="second transitions">
                    If we are truly acting as a voice for the voiceless, striving to do right by them at all
                    times is paramount to behaving ethically in animal welfare.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section container p-0">
    <hr/>
  </section>

  <section class="section container py-4">
    <div class="sandbox font-standard-body">
      <div class="has-text-centered mb-6">
        <h2 class="title font-gotham">Board of Directors</h2>
        <p class="has-text-justified core-values-statement">
        <%= tab %>At the heart of ERA's mission is its Board of Directors, a collective
        of passionate individuals with a shared vision for positive change. Drawing from diverse
        backgrounds and expertise, the board oversees the organization's strategic direction and
        decision-making while ensuring that ERA's accreditation process recognizes rescues and
        shelters that exemplify ethical practices. By embracing ERA's core values and striving
        to build a culture of partnership, accountability, trust, respect, and integrity within the
        rescue community, our Board leads the way towards a world where welfare is prioritized,
        transparency is the norm, and compassionate care is provided to animals in need.
      </p>
      <div class="columns is-centered" style="padding: 2rem">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="janelle-modal-prompt">
                  <%= image_tag "about_pages/what_is_era/janelle.jpg", class: "board-of-directors-photo janelle" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Janelle Newton</p>
                  <p class="subtitle is-6">President</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="angela-modal-prompt">
                  <%= image_tag "about_pages/what_is_era/angela.jpg", class: "board-of-directors-photo angela" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Angela Curry</p>
                  <p class="subtitle is-6">Vice President</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="diane-modal-prompt">
                  <%= image_tag "about_pages/what_is_era/diane.jpg", class: "board-of-directors-photo diane" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Diane Orenchuk</p>
                  <p class="subtitle is-6">Communications</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-centered" style="padding: 0 2rem">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="brittnea-modal-prompt">
                  <%= image_tag "about_pages/what_is_era/brittnea.jpg", class: "board-of-directors-photo brittnea" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Brittnea Atwood</p>
                  <p class="subtitle is-6">Conduct Enforcement</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="bri-modal-prompt">
                  <%= image_tag "about_pages/what_is_era/bri.jpg", class: "board-of-directors-photo bri" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Bri Benton</p>
                  <p class="subtitle is-6">Ethical Breeder Liaison</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <button class="modal-prompt-trigger is-transparent" data-target="misha-modal-prompt">
                  <%= image_tag "about_pages/what_is_era/misha.jpg", class: "board-of-directors-photo misha" %>
                </button>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Misha Krul</p>
                  <p class="subtitle is-6">Secretary</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<%= render "about_pages/janelle" %>
<%= render "about_pages/angela" %>
<%= render "about_pages/diane" %>
<%= render "about_pages/brittnea" %>
<%= render "about_pages/bri" %>
<%= render "about_pages/misha" %>

<script>
  const animateFrame = (val) => {
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
      const element = document.getElementById(val);
      let timer = setTimeout(() => {
        let firstFrame = element.querySelector(".first");
        let secondFrame = element.querySelector(".second");

        if (element.classList.contains("is-active")) {
          document.getElementsByClassName(val)[0].style = "opacity: 1;";
          firstFrame.style = "opacity: 1;";
          secondFrame.style = "opacity: 0;";
          element.classList.remove("is-active");
        } else {
          document.getElementsByClassName(val)[0].style = "opacity: 0.75;";
          firstFrame.style = "opacity: 0;";
          secondFrame.style = "opacity: 1;";
          element.classList.add("is-active");
        }
      }, 1000);
    }
  }
</script>