<div class="what-is-era-container">
  <div class="banner-container">
    <%= image_tag "about_pages/what_is_era/what-is-era-banner.jpg", class: "banner-img", title: "Image by Freepik" %>
    <div class="banner-content-container ">
      <h3 class="tagline-primary font-gotham-bold">
      </h3>
      <h3 class="tagline-secondary font-gotham-regular">
      </h3>
    </div>
  <div>

  <div class="container is-widescreen">
    <div class="py-4">
      <div class="columns is-vcentered pt-4">
        <div class="column pr-6">
          <div class="era-logo-container">
            <%= image_tag "logos/era-logo-colored.png" %>
          </div>
        </div>
        <div class="column is-9 px-6 blue-vertical-divider">
          <div class="column-content">
            <div class="title is-2 has-text-left font-gotham">What is ERA?</div>
              <div class="font-roberto is-2">
                <div>
                  <span class="font-md">The Ethical Rescue Association</span> is an accrediting body <%= @lorem %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-4">
        <div class="columns">
          <div class="column is-two-fifths mission-statement">
            <span class="font-lg">Our mission</span> is to <%= @lorem.truncate(250) %>
          </div>
          <div class="column">
            <span class="ethical-definition">ethical</span><span class="">[ eth-i-kuhl ]</span>
              <div>
                adjective
              </div>
              <div>
                pertaining to or dealing with morals or the principles of morality; pertaining to right and wrong in conduct.
            </div>
            <%= image_tag "about_pages/what_is_era/dog-sunset.jpg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>