<%= javascript_include_tag "accordion" %>

<div class="faq-container">
  <div class="banner-container">
    <section class="hero is-large header-image">
      <div class="hero-body">
        <h1 class="title has-text-white">
          Frequently Asked Questions
        </h1>
        <h5 class="subtitle has-text-white">
          Answers to popular questions, concerns, and inquiries
        </h5>
      </div>
    </section>
  </div>

  <section class="container standard-padding">
    <div class="content-container py-0">
      <div class="accordion-container">
        <div class="columns accordion-columns is-justify-content-center p-0">
          <div class="column">
            <article class="accordion">
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    Does ERA support animal rights?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    Animal rights advocacy is based in the belief that animals should have inherent rights, such as the
                    right to life and the freedom to live as they wish, without being used by humans. Conversely, animal welfare
                    emphasizes making practical improvements in the lives of animals while working within existing systems.
                    While animal rights has brought attention to important ethical considerations, it has also contributed to
                    challenges within the landscape of animal rescue.
                  </p>
                  <p>
                    It's important to note that not all animal rights perspectives contribute negatively to the animal welfare crisis.
                    However, we believe that a more practical approach that focuses on well-being and minimizing suffering will allow
                    us to work more effectively to improve the lives of animals in rescues and shelters.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    Why should my rescue be a part of ERA?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    ERA is aiming to shift the focus from an animal rights driven world back to animal welfare, and this starts
                    with education on these topics for the public. By providing an accreditation process, we aim to educate the
                    public on how to determine what organizations to support and how to identify them. ERA grows, we will be
                    expanding on resources offered strictly to accredited organizations, as well as building a publicly accessible
                    library of resources on various topics. Through supporting this change, your rescue will be supported.
                  </p>
                  <p>
                    By taking a stance on ethics rooted in Animal Welfare within the animal rescue space and distancing ourselves
                    from animal rights activism, we can truly begin to make the changes we so desperately want to see.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    What is ERA's position on breeders?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    ERA believes that ethical breeders play a vital role in combating the animal welfare crisis,
                    and that breeders who prioritize responsible practices, health, and the preservation of breed standards
                    should be supported by the community.  We also believe that the term "breeder" should not be used as a
                    pejorative to describe unethical puppy mills and backyard breeders.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    How can a rescue apply for ERA accreditation?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    Applying for ERA accreditation is a multi-step process.
                  </p>
                  <p>
                    1) Send a one-time fee of $75 to ERA via <%= link_to 'PayPal', @paypal_url, target: '_blank' %>, <%= link_to 'Venmo', @venmo_url, target: '_blank' %>, or <%= link_to 'CashApp', @cashapp_url, target: '_blank' %>
                  </p>
                  <p>
                    <% if false %>
                      2) Fill out and submit your <%= link_to 'application', 'https://forms.gle/MeuWpkQyCRj2ky63A', target: '_blank' %>.
                    <% end %>
                    2) Fill out and submit your application.
                    Don't forget to include tax status documentation and a screenshot proving that that you have paid the application fee.
                  </p>
                  <p>
                    3) Wait for ERA to contact you.  It can take up to two weeks for our volunteers to review your application.
                  </p>
                  <p>
                    4) Your rescue will be awarded accreditation status if the organization is found to
                    be sufficiently aligned with ERA's <%= link_to "Code of Ethics", code_of_ethics_path %>.  If the organization does not meet
                    ERA's criteria, you may re-apply at any time once the necessary improvements have been made.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    What are ERA's qualifications to set the standard of ethics?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    The qualifications of our Board members are listed under their biographies
                    on the <%= link_to "What is ERA?", what_is_era_path %> page. Our Board of Directors currently consists of a rescue director
                    and veterinary technician, two professional trainers, an ethical breeder, and an animal
                    control officer.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    Will ERA be international?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    At this time, ERA only operates within the United States and Canada. This is because the
                    laws, regulations, and standards of animal welfare vary greatly from country to country.
                    As we grow, we hope to inspire the formation of similar movements internationally.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    Does ERA only support R+ trainers?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    We are believers in <%= link_to 'the humane hierarchy', 'https://pawsandreward.com/episode47/' %>, but we also believe in being realistic and
                    respectful of the fact that resources in rescue are limited, and that balanced training
                    is sometimes necessary.  However, we do not condone compulsion training in any form.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    Will the grading system be made public?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    The <%= link_to "Code of Ethics", code_of_ethics_path %> has been published in an abriged form, but the grading system will remain closed
                    to the public in order to maintain a level of integrity for applicants. A breakdown of the Bronze,
                    Silver, and Gold-level certifications will be made publicly available (coming soon).
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    How will ERA help to address the issue of rescues doing unethical things?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    While we are not able to police individual rescues for unethical behavior, ERA-accredited rescues will be at risk of losing their accreditation
                    status if they are found to be in violation of the <%= link_to "Code of Ethics", code_of_ethics_path %>.  The website will have a reporting
                    form if there is an ethical concern surrounding an ERA-accredited rescue (coming soon).
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    How will ERA address mislabeling of dog breeds?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    We will be cross-referencing their answers to publicly viewable information such as
                    social media and adoption websites. Intentionally misleading the public with regard
                    to breed makeup is frowned upon by our organization and will be discouraged.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    What animals are included?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    Only dogs at this time, but as we grow and get established, we hope to expand first to cats,
                    and then to other species as those more knowledgeable show interest and we have a committee
                    qualified to perform the same accreditation duties for other companion animals.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    What does it cost to fill out an application and how will the funds be used?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    At this time the application fee is set at $75. This will be utilized to pay for operational
                    expenses, and we hope to distribute excess funds back to the community. How this will be accomplished
                    is undetermined at this time, but it is being discussed.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    Will ERA strive for government backing?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    At the moment, no. This is a 100% grass-roots movement. Government has failed to address these issues
                    time and again. We believe that if change is going to happen, it needs to start from the ground up.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    How many strikes does a rescue get before having their accreditation revoked?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    This is on a case-by-case basis.  If there are enough concerns raised within a calendar year, a
                    rescue or shelter goes into a probationary period.  If a rescue or shelter gets an infraction, this
                    could bump their accreditation status down or have their accreditation revoked entirely depending
                    on the severity of the offense.
                  </p>
                  <p>
                    Each violation will be examined in context, with focus on assisting
                    the rescue with making more ethical decisions in the future rather than punishing them. We want to
                    ensure that any type of report we receive is a valid infraction and not retaliatory in nature.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    What can the community do to get local organizations to apply?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content">
                  <p>
                    While we cannot require any rescue to have ERA certification, we hope that ERA gains enough
                    positive reputation that organizations will influence one another to join, and there will
                    be numerous perks and benefits of joining ERA (coming soon).
                  </p>
                </div>
              </section>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container pb-2">
    <div class="columns is-gapless">
      <div class="column">
        <div class="faq-inquiry-container">
          <div class="faq-inquiry">
            <p>
              <strong>Have a question about ERA</strong> that isn't listed here?
              Please reach out to us via our <%= link_to "contact form", contact_us_path %>
              and share your thoughts, questions, or inquiries.
            </p>
            <p>
              We value your input and look forward to hearing from you!
            </p>
            <p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
