<%= javascript_include_tag "accordion" %>

<div class="faq-container">
  <div class="banner-container" data-testid="faq-banner">
    <section class="hero is-large header-image">
      <div class="hero-body">
        <h1 class="title has-text-white">
          Frequently Asked Questions
        </h1>
        <h5 class="subtitle has-text-white">
          Answers to popular questions, concerns, and inquiries
        </h5>
      </div>
    </section>
  </div>

  <section class="container standard-padding" data-testid="faq-list">
    <div class="content-container py-0 mt-6">
      <div class="accordion-container">
        <div class="columns accordion-columns is-justify-content-center p-0">
          <div class="column pt-0">
            <article class="accordion">
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    How can a rescue apply for ERA accreditation?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content has-text-grey double-spaced is-font-16">
                  <p>
                    1) Begin your application by clicking <%= link_to "here", become_a_member_path, method: :get %>.
                    You will be asked to provide some information about your organization and pay the application fee.
                  </p>
                  <p>
                    2) After submitting your application fee through PayPal, you will receive an email with a link to the application.
                  </p>
                  <p>
                    3) Fill out the application on your own time. You will need to provide tax status documentation and copies of
                    your income tax returns.
                  </p>
                  <p>
                    4) Wait for ERA to contact you.  It can take several weeks for our volunteers to review your application depending on the
                    volume of applicants and how much detail you have provided in your answers.  If you have not heard back from us within
                    30 days, please contact us at <a href="mailto:ethicalrescueassociation@gmail.com">ethicalrescueassociation@gmail.com</a>
                  </p>
                  <p>
                    5) Your rescue will be awarded accreditation status if the organization is found to be aligned with ERA's
                    <%= link_to "Code of Ethics", code_of_ethics_path %>.  If the organization does not meet the necessary criteria,
                    you will be provided with constructive feedback and may be offered a mentorship instead. You can re-apply once
                    the necessary improvements have been made.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    How much is the application fee and how will the funds be used?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content has-text-grey double-spaced is-font-16">
                  <p>
                    At this time the application fee is set at $75. This will be used to help cover our operational
                    expenses, such as webhosting and access to stock images. We are currently researching ways that we
                    can distribute excess funds back to the community in the form of grants. We will also be offering
                    numerous services and educational resources thorugh our membership benefits program. Every year we
                    will publish an annual report detailing our expenses and how funds were distributed.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    What are ERA's qualifications to set the standard of ethics?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content has-text-grey double-spaced is-font-16">
                  <p>
                    The qualifications of our Board members are listed under their biographies
                    on the <%= link_to "What is ERA?", what_is_era_path %> page. Our Board of Directors currently consists of a rescue director
                    and veterinary technician, a professional trainer, and an animal control officer.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    Will ERA be international?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content has-text-grey double-spaced is-font-16">
                  <p>
                    At this time, ERA only operates within the United States. This is because the laws,
                    regulations, and standards of animal welfare vary greatly from country to country.
                    As we grow, we hope to inspire the formation of similar movements internationally.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    Will the grading system be made public?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content has-text-grey double-spaced is-font-16">
                  <p>
                    The <%= link_to "Code of Ethics", code_of_ethics_path %> has been published in an abriged form, but the grading system will remain closed
                    to the public in order to maintain a level of integrity for applicants. A breakdown of the Bronze,
                    Silver, and Gold-level certifications will be made publicly available.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    How will ERA help to address the issue of rescues doing unethical things?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content has-text-grey double-spaced is-font-16">
                  <p>
                    While we are not able to police individual rescues for unethical behavior, ERA-accredited rescues will be at risk of losing their accreditation
                    status if they are found to be in violation of the <%= link_to "Code of Ethics", code_of_ethics_path %>.  The website will have a reporting
                    form if there is an ethical concern surrounding an ERA-accredited rescue.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    Will there be a "wall of shame" for unethical rescues?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content has-text-grey double-spaced is-font-16">
                  <p>
                    No, never.  ERA's focus is on promoting a culture of growth and continuous improvement. We believe that
                    the best way to address unethical practices in rescue is through education and mentorship, not public shaming.
                    We will not be publishing the names of rescues that have been denied accreditation or had their accreditation
                    revoked.  We will also not be publishing the names of rescues that have been reported for unethical behavior.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    What animals are included?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content has-text-grey double-spaced is-font-16">
                  <p>
                    Only dogs at this time, but as we grow and get established, we hope to expand to felines, equines,
                    exotics, and other species as those more knowledgeable show interest and we have a committee
                    qualified to perform the same accreditation duties for other animals.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    Will ERA strive for government backing?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content has-text-grey double-spaced is-font-16">
                  <p>
                    At the moment, no. This is a 100% grass-roots movement. Government has failed to address these issues
                    time and again. We believe that if change is going to happen, it needs to start from the ground up.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    How many strikes does a rescue get before having their accreditation revoked?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content has-text-grey double-spaced is-font-16">
                  <p>
                    This is on a case-by-case basis.  If there are enough concerns raised within a calendar year, a
                    rescue or shelter goes into a probationary period.  If a rescue or shelter gets an infraction, this
                    could bump their accreditation status down or have their accreditation revoked entirely depending
                    on the severity of the offense.
                  </p>
                  <p>
                    Each violation will be examined in context, with focus on assisting
                    the rescue with making more ethical decisions in the future rather than punishing them. We want to
                    ensure that any type of report we receive is a valid infraction and not retaliatory in nature.
                  </p>
                </div>
              </section>
              <section>
                <header>
                  <h5 class="d-flex is-justify-content-space-between">
                    What can the community do to get local organizations to apply?
                  </h5>
                  <div class="carrot"></div>
                </header>
                <div class="accord-content has-text-grey double-spaced is-font-16">
                  <p>
                    While we cannot require any rescue to have ERA certification, we hope that ERA gains enough
                    positive reputation that organizations will influence one another to join, and there will
                    be numerous perks and benefits of joining ERA.
                  </p>
                </div>
              </section>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container pb-2" data-testid="more-questions">
    <div class="columns is-gapless">
      <div class="column">
        <div class="faq-inquiry-container">
          <div class="faq-inquiry">
            <p>
              <span class="has-text-weight-semibold has-text-grey is-font-18">Have a question about ERA</span> that isn't listed here?
              Please reach out to us via our <%= link_to "contact form", contact_us_path %>
              and share your thoughts, questions, or inquiries.
            </p>
            <p>
              We value your input and look forward to hearing from you!
            </p>
            <p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
