<div class="container">
  <h3 class="title is-4">Rescues</h3>

  <hr class="mb-2">

  <% if session_access_key_set? ? %>
    <div class="mb-2">
      <%= link_to 'Add Rescue', new_animal_rescue_path %>
    </div>
  <% end %>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Breeds</th>
          <th>Website URL</th>
          <th>Description</th>
          <% if session_access_key_set? ? %>
            <th>Visibility</th>
          <% end %>
        </tr>
      </thead>
      <% @rescues.each do |r| %>
        <tr>
          <th><%= r.id %></th>
          <td><%= r.name.truncate(25) %></td>
          <td><%= r.breed.truncate(25) %></td>
          <td><%= r.website_url.truncate(30) %></td>
          <td><%= r.description.truncate(60) %></td>
          <% if session_access_key_set? ? %>
            <td><%= r.visibility %></td>
            <td><%= link_to 'edit', edit_animal_rescue_path(r), remote: true %></td>
            <td><%= link_to 'delete', animal_rescue_path(r), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this rescue?" } %></td>
          <% end %>
          <td><%= link_to 'show', animal_rescue_path(r), remote: true %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

