<div class="container is-max-desktop">
  <h3 class="title is-4">New Rescue</h3>

  <%= form_with(model: @rescue, url: animal_rescues_path, action: :post) do |f| %>
    <div class="field">
      <div class="control">
        <%= f.label :name, class: "label" %>
        <%= f.text_field :name, placeholder: "Name", class: "input" %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.label :breed, class: "label" %>
        <%= f.text_field :breed, placeholder: "Breed", class: "input" %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.label :website_url, class: "label" %>
        <%= f.text_field :website_url, placeholder: "Website URL", class: "input" %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.label :description, class: "label" %>
        <%= f.text_area :description, placeholder: "Description", class: "textarea", rows: 3 %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.label :visibility, class: "label" %>
        <%= f.radio_button :visibility, "public", name: "visibility", class: "ml-4 mr-1" %>Public
        <%= f.radio_button :visibility, "private", name: "visibility", class: "ml-4 mr-1" %>Private
        <%= f.radio_button :visibility, "hidden", name: "visibility", class: "ml-4", checked: true %> Hidden
      </div>
    </div>
    <div class="mt-6">
      <% if logged_in_as_admin? || white_listed_ip_address? %>
        <%= f.submit "Create", class: "button is-success" %>
      <% end %>
      <%= link_to "Cancel", url_for(action: :index), remote: true, class: "button is-light" %>
    </div>
  <% end %>
</div>