<div class="container is-max-desktop">
  <h3 class="title is-4">Rescue</h3>

    <div class="field">
      <%= label_tag :name, 'Name:', class: 'label' %>
      <%= @rescue.name %>
    </div>
    <div class="field">
      <%= label_tag :breed, 'Breed:', class: 'label' %>
      <%= @rescue.breed %>
    </div>
    <div class="field">
      <%= label_tag :website_url, 'Website URL:', class: 'label' %>
      <%= link_to @rescue.website_url, @rescue.website_url, target: '_blank' %>
    </div>
    <div class="field">
      <%= label_tag :description, 'Description:', class: 'label' %>
      <%= @rescue.description %>
    </div>
    <% if logged_in_as_admin? %>
      <div class="field">
        <%= label_tag :visibility, 'Visibility:', class: 'label' %>
        <%= @rescue.visibility %>
      </div>
    <% end %>
    <div class="mt-6 d-flex">
      <% if logged_in_as_admin? %>
        <%= link_to "Edit", edit_animal_rescue_path(@rescue), remote: true, class: "button is-info mr-2" %>
      <% end %>
      <%= link_to "Cancel", animal_rescues_path, remote: true, class: "button is-light mr-2" %>
      <% if logged_in_as_admin? %>
        <%= link_to "Delete", animal_rescue_path(@rescue), class: "button is-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this rescue?" } %>
      <% end %>
    </div>
</div>