<!DOCTYPE html>
<html>
  <head>
    <title>Ethical Rescue Association</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in_as_admin? %>
      <%= render partial: "shared/navbar" %>
      <div>
        <% if notice %>
          <div class="notification is-success is-light text-center">
            <%= notice %>
          </div>
        <% end %>

        <% if alert %>
          <div class="notification is-danger is-light text-center">
            <%= alert %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    <% else %>
      <div class="promo-container">
        <%= video_tag "https://i.imgur.com/RePuY5c.mp4", autoplay: true, loop: false, controls: true %>
      </div>
    <% end %>
  </body>
</html>
