<!DOCTYPE html>
<html>
  <head>
  <title>Ethical Rescue Association</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= favicon_link_tag asset_path("favicon.png") %>
  <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/hero.css">
  <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <%= javascript_importmap_tags %>
  </head>

  <% if !logged_in_as_admin? %>
  <body>
    <div class="body-container">
      <%= render partial: "shared/navbar" %>
      <div class="top-bar"></div>
    <div>
      <% if notice %>
      <div class="notification is-success is-light text-center">
        <%= notice %>
      </div>
      <% end %>

      <% if alert %>
      <div class="notification is-danger is-light text-center">
        <%= alert %>
      </div>
      <% end %>
      <%= yield %>
    <%= render "shared/footer" %>
    </div>
  </body>
  <% else %>
  <body>
    <div class="promo-container">
    <%= video_tag "https://i.imgur.com/RePuY5c.mp4", autoplay: true, loop: false, controls: true %>
    </div>
  </body>
  <% end %>
  <script src="../js/bulma.js"></script>
</html>
