<!DOCTYPE html>
<html>
  <head>
    <title>Ethical Rescue Association</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path("favicon.png") %>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <!-- CDN IMPORTS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css">
    <!-- END CDN IMPORTS-->
  </head>

  <% if session_access_key_set? %>
  <body>
    <div>
      <%= render partial: "shared/navbar" %>
    <div>
      <% if notice %>
      <div class="notification is-success is-light has-text-centered m-0">
        <%= notice %>
      </div>
      <% end %>
      <% if alert %>
      <div class="notification is-danger is-light has-text-centered m-0">
        <%= alert %>
      </div>
      <% end %>
      <%= yield %>
    <%= render "shared/footer" %>
    </div>
  </body>
  <% else %>
  <body>
    <div class="promo-container">
      <%= video_tag "https://i.imgur.com/RePuY5c.mp4", autoplay: true, loop: false, controls: true %>
      <% if true %>
        <div class="phantom" id="phantom">
          <%= link_to "phantom", phantom_path %>
        </div>
      <% end %>
    </div>
  </body>
  <% end %>
</html>
