<!DOCTYPE html>
<html>
  <head>
    <title>Ethical Rescue Association</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <div class="px-6">
      <div class="mt-6"></div>
      <div>

        <% if notice %>
          <div class="notification is-success is-light text-center">
            <%= notice %>
          </div>
        <% end %>

        <% if alert %>
          <div class="notification is-danger is-light text-center">
            <%= alert %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
