<!DOCTYPE html>
<html>
  <head>
    <title>Ethical Rescue Association</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "turbo", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag image_path("favicon.png") %>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <!-- CDN IMPORTS-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src=" https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.24/dist/js/bulma-carousel.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.24/dist/css/bulma-carousel.min.css " rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if true %>

    <% end %>
    <% if false %>
      <div>
        <%= render partial: "shared/navbar" %>
      <div>
        <% if notice %>
        <div class="notification is-success is-light has-text-centered m-0">
          <%= notice %>
        </div>
        <% end %>
        <% if alert %>
        <div class="notification is-danger is-light has-text-centered m-0">
          <%= alert %>
        </div>
        <% end %>

        <%= yield %>

        <% unless controller_path&.split("/")&.first == "admin" %>
          <%= render "shared/cookies_modal" %>
          <%= render "shared/footer" %>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
